<nav id="sidebar" class="behavior_1">
    <div class="wrap">
        <div class="profile">
            <a href="/">
                <img src="/static/logo.jpg">
            </a>
            <span>Cole Lie</span>
        </div>
        <ul class="buttons">
            <li>
                <a class="" href="/" title="首页">
                    <i class="iconfont icon-home"></i><span>首页</span>
                </a>
            </li>
            <li>
                <a class="" href="/archives" title="归档">
                    <i class="iconfont icon-archive"></i><span>归档</span>
                </a>
            </li>
            <li>
                <a class="" href="/tags" title="标签">
                    <i class="iconfont icon-tags"></i><span>标签</span>
                </a>
            </li>
        </ul>
        <ul class="buttons">
            <li>
                <a class="inline" rel="nofollow" target="_blank" href="https://github.com/hkail">
                    <i class="iconfont icon-github-v" title="GitHub"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div id="sidebar-mask"></div>